.gradle/
.idea/

PocketPlugin/build/
csj_ad_sdk_220513/build/
gdt_ad_sdk_220531/build/
ks_ad_sdk_220531/build/
pocket_ad_sdk_3.0.6/build

godot-lib.3.4.4/build/

local.properties
/PocketPlugin/src/main/java/com/littlesandbox/aa.java
